### Final Project

In [1]:
import numpy as np
import pandas as pd

%load_ext lab_black

#### Import Vaccine Data

In [2]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-vaccination-zipcode-totals.csv"
)

In [3]:
df

,date,id,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
0,2021-01-05,90004,Los Angeles,37,61586.0,913,932,19,0.01,0.02,0.00
1,2021-01-05,90005,Los Angeles,37,39479.0,425,444,19,0.01,0.01,0.00
2,2021-01-05,90008,Los Angeles,37,31739.0,304,317,13,0.01,0.01,0.00
3,2021-01-05,90011,Los Angeles,37,109414.0,538,550,12,0.00,0.01,0.00
4,2021-01-05,90012,Los Angeles,37,35913.0,537,555,18,0.01,0.02,0.00
...,...,...,...,...,...,...,...,...,...,...,...
75675,2021-12-07,96145,Placer,61,2151.0,382,2760,2378,0.18,1.28,1.11
75676,2021-12-07,96146,Placer,61,969.0,155,1093,938,0.16,1.13,0.97
75677,2021-12-07,96148,Placer,61,696.0,102,763,661,0.15,1.10,0.95
75678,2021-12-07,96150,El Dorado,17,29357.0,2358,14877,12519,0.08,0.51,0.43
75679,2021-12-07,96161,Nevada,57,18333.0,1940,12494,10554,0.11,0.68,0.58

In [4]:
df.dtypes

date                             object
id                                int64
county                           object
fips                              int64
population                      float64
partially_vaccinated              int64
at_least_one_dose                 int64
fully_vaccinated                  int64
partially_vaccinated_percent    float64
at_least_one_dose_percent       float64
fully_vaccinated_percent        float64
dtype: object

In [5]:
df.head(10)

,date,id,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
0,2021-01-05,90004,Los Angeles,37,61586.0,913,932,19,0.01,0.02,0.0
1,2021-01-05,90005,Los Angeles,37,39479.0,425,444,19,0.01,0.01,0.0
2,2021-01-05,90008,Los Angeles,37,31739.0,304,317,13,0.01,0.01,0.0
3,2021-01-05,90011,Los Angeles,37,109414.0,538,550,12,0.00,0.01,0.0
4,2021-01-05,90012,Los Angeles,37,35913.0,537,555,18,0.01,0.02,0.0
5,2021-01-05,90013,Los Angeles,37,11937.0,159,172,13,0.01,0.01,0.0
6,2021-01-05,90015,Los Angeles,37,21801.0,379,392,13,0.02,0.02,0.0
7,2021-01-05,90016,Los Angeles,37,46581.0,528,540,12,0.01,0.01,0.0
8,2021-01-05,90018,Los Angeles,37,53256.0,528,541,13,0.01,0.01,0.0
9,2021-01-05,90019,Los Angeles,37,66245.0,844,865,21,0.01,0.01,0.0

In [6]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [7]:
df.dropna(inplace=True)

In [8]:
df.county.value_counts().reset_index()

              index  county
0       Los Angeles   13330
1         San Diego    4706
2            Orange    4205
3    San Bernardino    3577
4         Riverside    3324
5       Santa Clara    2716
6        Sacramento    2450
7            Fresno    2433
8           Alameda    2271
9              Kern    2068
10     Contra Costa    1922
11           Sonoma    1479
12         Humboldt    1459
13      San Joaquin    1442
14        San Mateo    1326
15           Tulare    1259
16    San Francisco    1250
17         Monterey    1238
18           Placer    1177
19            Marin    1173
20          Ventura    1158
21       Stanislaus    1127
22        Mendocino    1048
23    Santa Barbara    1023
24           Shasta    1021
25  San Luis Obispo     988
26           Merced     871
27        El Dorado     856
28         Siskiyou     830
29            Butte     755
30             Yolo     743
31        Calaveras     729
32       Santa Cruz     722
33           Solano     686
34         Imperial     598
35             Lake     574
36           Madera     523
37           Plumas     508
38           Amador     504
39         Tuolumne     470
40          Trinity     445
41           Nevada     441
42             Yuba     441
43           Sutter     411
44             Napa     408
45           Tehama     377
46            Kings     321
47           Colusa     311
48           Lassen     263
49            Modoc     248
50         Mariposa     244
51            Glenn     233
52             Inyo     218
53             Mono     204
54       San Benito     181
55        Del Norte     179
56           Sierra     128
57           Alpine      45

In [9]:
LA_county = "Los Angeles"

In [10]:
LA_vacc = df[df.county == LA_county]

In [11]:
LA_vacc

,date,id,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
0,2021-01-05,90004,Los Angeles,37,61586.0,913,932,19,0.01,0.02,0.00
1,2021-01-05,90005,Los Angeles,37,39479.0,425,444,19,0.01,0.01,0.00
2,2021-01-05,90008,Los Angeles,37,31739.0,304,317,13,0.01,0.01,0.00
3,2021-01-05,90011,Los Angeles,37,109414.0,538,550,12,0.00,0.01,0.00
4,2021-01-05,90012,Los Angeles,37,35913.0,537,555,18,0.01,0.02,0.00
...,...,...,...,...,...,...,...,...,...,...,...
74842,2021-12-07,93550,Los Angeles,37,77006.0,5058,47372,42314,0.07,0.62,0.55
74843,2021-12-07,93551,Los Angeles,37,51085.0,3001,35099,32098,0.06,0.69,0.63
74844,2021-12-07,93552,Los Angeles,37,40266.0,2747,27054,24307,0.07,0.67,0.60
74845,2021-12-07,93553,Los Angeles,37,1781.0,84,965,881,0.05,0.54,0.49
74850,2021-12-07,93591,Los Angeles,37,6579.0,414,3772,3358,0.06,0.57,0.51

In [12]:
df["nudate"] = pd.to_datetime(df["date"])

In [13]:
vacc_recent = LA_vacc[LA_vacc["date"] == LA_vacc["date"].max()]

In [14]:
vacc_early = LA_vacc[LA_vacc["date"] == "2021-04-20"]

In [15]:
vacc_recent[vacc_recent.county == LA_county].sort_values(
    "fully_vaccinated_percent", ascending=False
).head(5)

,date,id,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
74127,2021-12-07,90058,Los Angeles,37,2758.0,1121,6598,5477,0.41,2.39,1.99
74135,2021-12-07,90067,Los Angeles,37,2314.0,391,3215,2824,0.17,1.39,1.22
74086,2021-12-07,90010,Los Angeles,37,3702.0,615,4536,3921,0.17,1.23,1.06
74097,2021-12-07,90021,Los Angeles,37,2922.0,637,3431,2794,0.22,1.17,0.96
74120,2021-12-07,90045,Los Angeles,37,41149.0,4546,43213,38667,0.11,1.05,0.94

In [16]:
vacc_early[vacc_early.county == LA_county].sort_values(
    "fully_vaccinated_percent", ascending=False
).head(5)

,date,id,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
21439,2021-04-20,90058,Los Angeles,37,2758.0,1488,4866,3378,0.54,1.76,1.22
21447,2021-04-20,90067,Los Angeles,37,2314.0,562,2380,1818,0.24,1.03,0.79
21568,2021-04-20,91105,Los Angeles,37,12191.0,2458,9113,6655,0.20,0.75,0.55
21564,2021-04-20,91046,Los Angeles,37,143.0,26,105,79,0.18,0.73,0.55
21454,2021-04-20,90210,Los Angeles,37,19909.0,2892,13196,10304,0.15,0.66,0.52

In [17]:
LA_vacc[
    (df["date"] == "2021-04-20") & (df["fully_vaccinated_percent"] < 1)
].sort_values("fully_vaccinated_percent", ascending=False).head(5)

<ipython-input-17-c760c91f4a1e>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  LA_vacc[

,date,id,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
21447,2021-04-20,90067,Los Angeles,37,2314.0,562,2380,1818,0.24,1.03,0.79
21568,2021-04-20,91105,Los Angeles,37,12191.0,2458,9113,6655,0.20,0.75,0.55
21564,2021-04-20,91046,Los Angeles,37,143.0,26,105,79,0.18,0.73,0.55
21454,2021-04-20,90210,Los Angeles,37,19909.0,2892,13196,10304,0.15,0.66,0.52
21624,2021-04-20,91436,Los Angeles,37,15070.0,2093,9802,7709,0.14,0.65,0.51

In [18]:
df["fully_vaccinated_percent"] = df["fully_vaccinated_percent"].astype(int)

In [22]:
df.dtypes

date                                    object
id                                       int64
county                                  object
fips                                     int64
population                             float64
partially_vaccinated                     int64
at_least_one_dose                        int64
fully_vaccinated                         int64
partially_vaccinated_percent           float64
at_least_one_dose_percent              float64
fully_vaccinated_percent                 int64
nudate                          datetime64[ns]
dtype: object

In [23]:
df_new = df[df.fully_vacc_pct > 0]

AttributeError: 'DataFrame' object has no attribute 'fully_vacc_pct'

In [24]:
LA = df[df["county"] == "Los Angeles"].sort_values("fully_vaccinated_percent")

In [25]:
LA

,date,id,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent,nudate
0,2021-01-05,90004,Los Angeles,37,61586.0,913,932,19,0.01,0.02,0,2021-01-05
48724,2021-08-17,91350,Los Angeles,37,37350.0,2299,26352,24053,0.06,0.71,0,2021-08-17
48725,2021-08-17,91351,Los Angeles,37,32572.0,2053,21028,18975,0.06,0.65,0,2021-08-17
48726,2021-08-17,91352,Los Angeles,37,47438.0,3684,28015,24331,0.08,0.59,0,2021-08-17
48727,2021-08-17,91354,Los Angeles,37,32096.0,1673,22503,20830,0.05,0.70,0,2021-08-17
...,...,...,...,...,...,...,...,...,...,...,...,...
46972,2021-08-10,90067,Los Angeles,37,2314.0,347,2963,2616,0.15,1.28,1,2021-08-10
56596,2021-09-21,90067,Los Angeles,37,2314.0,342,3053,2711,0.15,1.32,1,2021-09-21
42225,2021-07-20,90067,Los Angeles,37,2314.0,326,2896,2570,0.14,1.25,1,2021-07-20
70930,2021-11-23,90067,Los Angeles,37,2314.0,403,3201,2798,0.17,1.38,1,2021-11-23
35892,2021-06-22,90058,Los Angeles,37,2758.0,1048,5917,4869,0.38,2.15,1,2021-06-22

In [26]:
vacc_early.groupby(["id"]).agg(
    {"fully_vaccinated_percent": "mean"}
).reset_index().sort_values("fully_vaccinated_percent", ascending=False).head(15)

        id  fully_vaccinated_percent
49   90058                      1.22
57   90067                      0.79
167  91105                      0.55
163  91046                      0.55
63   90210                      0.52
218  91436                      0.51
60   90077                      0.49
87   90272                      0.48
103  90402                      0.48
54   90064                      0.47
88   90274                      0.47
59   90069                      0.47
70   90232                      0.46
156  91011                      0.46
246  91754                      0.46

In [27]:
vacc_recent.groupby(["id"]).agg(
    {"fully_vaccinated_percent": "mean"}
).reset_index().sort_values("fully_vaccinated_percent", ascending=False).head(15)

        id  fully_vaccinated_percent
49   90058                      1.99
57   90067                      1.22
8    90010                      1.06
19   90021                      0.96
42   90045                      0.94
102  90401                      0.94
70   90232                      0.90
166  91105                      0.90
54   90064                      0.86
245  91754                      0.86
95   90292                      0.85
74   90245                      0.82
63   90210                      0.81
59   90069                      0.81
64   90211                      0.81

In [33]:
data = pd.read_csv("./demographics .csv")

In [34]:
data

,objectid,zip,po_name,pop2012,white,black,ameri_es,asian,hawn_pi,hispanic,other,mult_race,med_age,ave_hh_sz,marhh_chd,families,ave_fam_sz,hse_units,sqmi
0,4800,94002,Belmont,26832,19634,477,84,5762,221,3517,1170,1744,41.0,2.42,2925,7671,2.98,12304,5.9
1,4801,94010,Burlingame,41102,31610,482,93,10244,188,5133,1865,2166,42.6,2.43,4798,12179,3.06,20020,13.0
2,4900,93442,Morro Bay,10873,9395,47,104,281,10,1602,645,322,48.9,2.09,593,2749,2.70,6609,43.2
3,4901,93445,Oceano,7633,4683,60,114,155,7,3389,1477,283,34.7,2.86,541,1582,3.42,2871,2.0
4,4802,94015,Daly City,61575,14279,2138,168,35940,482,9775,4520,2939,39.0,3.10,4637,13991,3.54,20103,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,6493,92242,Earp,268,1321,16,57,2,1,180,65,78,57.5,1.99,56,425,2.52,1681,85.1
1700,6494,92267,Parker Dam,46,82,3,29,1,0,28,5,6,50.2,1.97,7,34,2.59,145,60.0
1701,6495,92280,Vidal,1361,8,0,3,0,0,3,1,1,60.0,1.30,1,5,2.00,18,583.2
1702,6496,92332,Essex,49,41,1,2,1,1,26,18,3,36.3,1.78,6,20,2.45,95,2212.6
1703,6497,92363,Needles,5435,3919,102,568,37,9,1151,352,337,40.4,2.48,308,1334,3.07,3979,1303.6

In [65]:
merge = pd.merge(data, vacc_early, left_on="zip", right_on="id", how="left",)

In [66]:
merge.drop(["id"], axis=1, inplace=True)

In [67]:
len(merge)

1704

In [68]:
merge.head()

,objectid,zip,po_name,pop2012,white,black,ameri_es,asian,hawn_pi,hispanic,...,date,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
0,4800,94002,Belmont,26832,19634,477,84,5762,221,3517,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4801,94010,Burlingame,41102,31610,482,93,10244,188,5133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4900,93442,Morro Bay,10873,9395,47,104,281,10,1602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4901,93445,Oceano,7633,4683,60,114,155,7,3389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4802,94015,Daly City,61575,14279,2138,168,35940,482,9775,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
LA_county = (
    merge[merge["county"] == "Los Angeles"]
    .sort_values("fully_vaccinated_percent", ascending=False)
    .head(5)
)

In [72]:
LA_county

,objectid,zip,po_name,pop2012,white,black,ameri_es,asian,hawn_pi,hispanic,...,date,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
1258,6010,90058,Los Angeles,3434,2326,451,120,142,3,5238,...,2021-04-20,Los Angeles,37.0,2758.0,1488.0,4866.0,3378.0,0.54,1.76,1.22
750,5864,90067,Los Angeles,2471,2204,26,2,265,2,96,...,2021-04-20,Los Angeles,37.0,2314.0,562.0,2380.0,1818.0,0.24,1.03,0.79
668,5954,91105,Pasadena,11771,8993,536,37,1706,7,1919,...,2021-04-20,Los Angeles,37.0,12191.0,2458.0,9113.0,6655.0,0.20,0.75,0.55
806,5870,90210,Beverly Hills,21265,18965,398,19,1239,11,1126,...,2021-04-20,Los Angeles,37.0,19909.0,2892.0,13196.0,10304.0,0.15,0.66,0.52
337,5917,91436,Encino,14759,13695,346,18,844,12,1014,...,2021-04-20,Los Angeles,37.0,15070.0,2093.0,9802.0,7709.0,0.14,0.65,0.51

In [73]:
merge_recent = pd.merge(data, vacc_recent, left_on="zip", right_on="id", how="left",)

In [75]:
merge_recent.drop(["id"], axis=1, inplace=True)

In [76]:
len(merge_recent)

1704

In [77]:
LA_county_recent = (
    merge_recent[merge_recent["county"] == "Los Angeles"]
    .sort_values("fully_vaccinated_percent", ascending=False)
    .head(5)
)

In [78]:
LA_county_recent

,objectid,zip,po_name,pop2012,white,black,ameri_es,asian,hawn_pi,hispanic,...,date,county,fips,population,partially_vaccinated,at_least_one_dose,fully_vaccinated,partially_vaccinated_percent,at_least_one_dose_percent,fully_vaccinated_percent
1258,6010,90058,Los Angeles,3434,2326,451,120,142,3,5238,...,2021-12-07,Los Angeles,37.0,2758.0,1121.0,6598.0,5477.0,0.41,2.39,1.99
750,5864,90067,Los Angeles,2471,2204,26,2,265,2,96,...,2021-12-07,Los Angeles,37.0,2314.0,391.0,3215.0,2824.0,0.17,1.39,1.22
1002,5995,90021,Los Angeles,2741,950,506,22,114,2,911,...,2021-12-07,Los Angeles,37.0,2922.0,637.0,3431.0,2794.0,0.22,1.17,0.96
601,5839,90401,Santa Monica,6775,6082,433,34,791,10,813,...,2021-12-07,Los Angeles,37.0,7256.0,1122.0,7916.0,6794.0,0.15,1.09,0.94
878,5879,90045,Los Angeles,39026,25512,5738,161,4929,144,7641,...,2021-12-07,Los Angeles,37.0,41149.0,4546.0,43213.0,38667.0,0.11,1.05,0.94

In [79]:
LA_county_recent.describe

<bound method NDFrame.describe of       objectid    zip       po_name  pop2012  white  black  ameri_es  asian  \
1258      6010  90058   Los Angeles     3434   2326    451       120    142
750       5864  90067   Los Angeles     2471   2204     26         2    265
1002      5995  90021   Los Angeles     2741    950    506        22    114
601       5839  90401  Santa Monica     6775   6082    433        34    791
878       5879  90045   Los Angeles    39026  25512   5738       161   4929

      hawn_pi  hispanic  ...        date       county  fips  population  \
1258        3      5238  ...  2021-12-07  Los Angeles  37.0      2758.0
750         2        96  ...  2021-12-07  Los Angeles  37.0      2314.0
1002        2       911  ...  2021-12-07  Los Angeles  37.0      2922.0
601        10       813  ...  2021-12-07  Los Angeles  37.0      7256.0
878       144      7641  ...  2021-12-07  Los Angeles  37.0     41149.0

      partially_vaccinated  at_least_one_dose  fully_vaccinated  \
1258                1121.0             6598.0            5477.0
750                  391.0             3215.0            2824.0
1002                 637.0             3431.0            2794.0
601                 1122.0             7916.0            6794.0
878                 4546.0            43213.0           38667.0

      partially_vaccinated_percent  at_least_one_dose_percent  \
1258                          0.41                       2.39
750                           0.17                       1.39
1002                          0.22                       1.17
601                           0.15                       1.09
878                           0.11                       1.05

     fully_vaccinated_percent
1258                     1.99
750                      1.22
1002                     0.96
601                      0.94
878                      0.94

[5 rows x 29 columns]>