# Rhysea's JOUR 561 Midterm Project

#### About:

In this project, I will explore datasets related to pollution, preventable hospitalizations, and primary care shortage areas in California. I am using these three datasets because I want to see if there is any link between pollution and preventable hospitalizations, and I want to connect the primary care shortage dataset just to see if there are any patterns (to see if any of these areas with high pollution levels/preventable deaths have a primary care shortage).

All of these datasets have been taken from the California Open Data Portal.

### Import python tools

In [942]:
%load_ext lab_black
import pandas as pd

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [943]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

### PART I: Importing databases

#### Pollution Dataset

This dataset lists counties by name and census tract number (which I believe is unique) and gives a particular CES score for each county. CES Scores combine exposure indicators, environmental effects indicators, sensitive population indicators and socioeconomic factor indicators to give a singular scaled value that decides how polluted/sensitive to harm from pollution a census tract is. But it also has information on Ozone levels (ozone is actually a pollutant in the troposphere; not great to breathe it in and it should only belong in the stratosphere), particulate matter levels, poverty index, unemployment index, asthma index etc. While this dataset has a lot of information (and using the other datasets may sound redundant at the moment), I would still like to show off my merge skills and perhaps, garner some more informatiom along the way.

These data are from 2017.

In [944]:
## This is the pollution dataset
pollution = pd.read_csv(
    "https://data.ca.gov/dataset/ab4e1b38-df76-4397-b3cf-002fd16937c3/resource/6d6a9a5c-9221-4fc5-9b00-35015ae65837/download/calenviroscreen-final-report.csv"
)

In [945]:
pollution.head()

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Age,Age Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
0,6019001100,3174,Fresno,NaN,89.22,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.765656684999,36.721996035,-119.791633689999,36.699489033",0.255228,80.87,14.746087,97.83,44.23,93.91,519.882370,83.30,5.470140,53.90,96414.458370,99.81,1217.535680,66.95,85.50,98.86,55.75,85.47,0.52,74.84,0,0.0,5.0,81.49,78.621127,9.530973,99.95,26.4,67.66,130.748821,99.03,0.058025,94.73,55.2,95.60,21.6,83.66,77.500865,97.78,19.30,92.05,90.072268,9.360658,99.60,"Fresno 93706\n(36.709695199999999, -119.7816961)"
1,6019000300,3609,Fresno,NaN,83.71,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.787833689999,36.734409036,-119.813343693999,36.721384034",0.287130,83.28,14.619618,97.57,46.75,94.76,519.882370,83.30,37.749178,69.58,19637.972100,97.79,666.915834,36.06,23.50,86.17,27.50,68.24,0.16,50.42,0,0.0,1.0,37.88,71.967758,8.724451,99.45,29.9,88.03,132.400000,99.19,0.061233,98.40,47.3,91.05,18.3,78.34,81.204032,98.93,NaN,NaN,92.323243,9.594592,99.90,"Fresno 93706\n(36.726461999999998, -119.8010347)"
2,6019000200,3167,Fresno,NaN,83.47,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.794330691999,36.743608036,-119.813074694999,36.728625035",0.304446,84.40,14.554656,97.47,46.91,94.80,519.882370,83.30,11.696444,60.54,11826.724940,95.53,1012.283892,59.69,21.25,84.41,49.75,83.07,0.21,56.85,0,0.0,0.0,0.00,72.408578,8.777912,99.54,27.5,76.31,132.321225,99.11,0.062864,99.29,52.1,93.95,16.2,74.04,86.828423,99.66,25.27,98.14,91.499039,9.508958,99.80,"Fresno 93706\n(36.735491400000001, -119.8055044)"
3,6019001500,2206,Fresno,NaN,83.08,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.663879663999,36.706923035,-119.776174685999,36.663175034",0.225687,78.25,14.937649,98.06,15.66,54.75,753.540501,98.37,2105.763777,93.82,5846.924529,87.54,785.580102,45.43,51.00,96.05,100.50,93.72,12.76,99.48,0,0.0,22.2,99.29,78.999409,9.576797,99.96,27.9,78.76,69.533088,87.18,0.052535,69.29,46.4,90.48,19.5,80.68,62.746088,88.32,18.30,89.60,83.474281,8.674967,97.74,"Fresno 93725\n(36.681600000000003, -119.71784270000001)"
4,6019000600,6161,Fresno,NaN,82.95,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.778577689999,36.750377038,-119.808375695999,36.728480036",0.327935,85.81,14.506413,97.33,57.64,97.57,519.882370,83.30,568.112511,87.65,7158.199033,90.58,838.783805,49.37,4.95,43.88,26.00,66.80,0.27,62.35,0,0.0,0.0,0.00,71.380423,8.653170,99.32,29.0,84.47,116.899716,97.94,0.062997,99.34,45.9,90.09,16.9,75.49,88.680993,99.79,26.69,98.61,92.246260,9.586590,99.89,"Fresno 93721\n(36.743062999999999, -119.7933565)"

In [946]:
pollution.tail()

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Age,Age Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
8030,6085504700,719,Santa Clara,NaN,NaN,NaN,"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-122.034685117999,37.435743942,-122.065703120999,37.400910941",0.000000,0.00,8.766532,34.13,19.08,62.23,97.233766,11.75,0.009449,8.57,353.899636,50.85,4506.103738,98.05,33.9,91.97,112.15,94.60,1.26,88.62,4,48.98,0.0,0.00,45.018702,5.457510,61.51,29.1,84.89,20.168018,11.06,0.052332,67.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mountain View 94035\n(37.416475499999997, -122.04972359999999)"
8031,6095253000,7810,Solano,NaN,NaN,NaN,"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-121.970474213999,38.333412022,-121.996293216999,38.315804022",0.011675,31.04,7.649335,19.30,17.12,57.79,NaN,NaN,0.000000,0.00,284.887744,46.78,608.466535,31.01,0.0,0.00,18.00,55.59,0.10,39.19,0,0.00,2.0,58.45,30.884669,3.744090,24.16,4.2,0.60,91.380387,94.04,NaN,NaN,31.5,76.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vacaville 95687\n(38.320655700000003, -121.97878470000001)"
8032,6095980000,16,Solano,NaN,NaN,NaN,"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-121.892086194999,38.286484025,-121.975188204999,38.237350016",0.011353,30.57,7.942773,23.30,3.88,14.81,294.075384,40.31,0.000000,0.00,376.639158,52.00,0.000000,0.00,12.0,68.82,0.00,0.00,0.00,0.00,4,48.98,0.0,0.00,23.147031,2.806037,8.31,37.5,97.92,38.695000,48.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Travis AFB 94535\n(38.254451500000002, -121.9456515)"
8033,6109985202,3590,Tuolumne,NaN,NaN,NaN,"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-120.532250936999,37.896006093,-120.541861938999,37.887789091",0.100283,64.12,7.848357,22.13,1.81,7.67,NaN,NaN,0.000000,0.00,51.341503,22.24,176.291666,5.19,0.0,0.00,1.05,2.35,0.00,0.00,0,0.00,2.0,58.45,17.852138,2.164141,2.38,0.9,0.21,43.865000,58.79,NaN,NaN,36.8,82.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jamestown 95327\n(37.8919389, -120.5370715)"
8034,6111980000,56,Ventura,NaN,NaN,NaN,"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.429571317999,33.284933701,-119.578954344999,33.215436697",NaN,NaN,NaN,NaN,1.04,5.07,NaN,NaN,0.000000,0.00,0.371620,4.35,0.000000,0.00,5.4,45.67,7.50,30.88,0.00,0.00,0,0.00,0.5,23.19,9.120830,1.105710,0.14,0.0,0.00,0.000000,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Channel Is Air Guard Station 61\n(33.255654700000001, -119.5035884)"

#### Preventable Hospitalizations Datasets

The first dataset (ph1) shows hospitalizations for those who are under 18 years of age. That is, all the children who get hospitalized for preventable illnesses. I thought this was interesting, especially if they were hospitalized for diseases like asthma and gastroenteritis (but focusing on asthma more since it can be more directly related to air pollution). These data range from 2005 to 2015.

The second dataset (ph2) contains similar data as the first one, but for a wider range of ages. There is a strong focus on asthma and COPD (chronic obstructive pulmonary disease) with older adults. I may not use it for this assignment, but it may be good to import it in the notebook either way.

In [947]:
ph1 = pd.read_csv(
    "https://data.chhs.ca.gov/dataset/f36f29a0-3ad3-4b56-b954-c82766ed5a4a/resource/c441b087-ed26-4652-bde1-174aa0fd5760/download/ca-oshpd-preventablehospitalizationsunder18pdi-county.csv"
)

In [948]:
ph1.head()

,Year,County,PDI,PDIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
0,2005,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,022","542,079",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,722","554,385",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,919","558,242",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,066","542,796",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,_STATEWIDE,9,Low Birth Weight (<2500 grams),"29,062","518,146",56.1,56.1,NaN,NaN,NaN,NaN,NaN,NaN

In [949]:
ph1.tail()

,Year,County,PDI,PDIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
7923,2016,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,74.7,51.3,1.0,Cell suppressed for small numbers
7924,2017,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,11,"13,794",79.7,54.7,NaN,NaN
7925,2018,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,28.3,19.4,1.0,Cell suppressed for small numbers
7926,2019,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,28.1,19.3,1.0,Cell suppressed for small numbers
7927,2020,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,68.8,47.2,1.0,Cell suppressed for small numbers

In [950]:
ph2 = pd.read_csv(
    "https://data.chhs.ca.gov/dataset/f2b33545-db0a-4a53-a611-41de532e7c53/resource/7c7aed93-3643-43b8-92fc-324bf8fc13f2/download/ca-oshpd-preventablehospitalizations-county.csv"
)

In [951]:
ph2.head()

,Year,County,PQI,PQIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
0,2005,Alameda,1,Diabetes Short-term Complications,538.0,1102068.0,48.8,47.3,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,Alameda,1,Diabetes Short-term Complications,479.0,1106823.0,43.3,42.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,Alameda,1,Diabetes Short-term Complications,475.0,1117973.0,42.5,41.3,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,Alameda,1,Diabetes Short-term Complications,531.0,1136417.0,46.7,45.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,Alameda,1,Diabetes Short-term Complications,586.0,1155287.0,50.7,49.4,NaN,NaN,NaN,NaN,NaN,NaN

In [952]:
ph2.tail()

,Year,County,PQI,PQIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
14509,2016,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,182.0,54335.0,335.0,276.345389,NaN,NaN
14510,2017,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,212.0,55421.0,382.5,315.342456,NaN,NaN
14511,2018,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,240.0,55951.0,428.9,352.959591,NaN,NaN
14512,2019,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,214.0,56969.0,375.6,307.937012,NaN,NaN
14513,2020,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,169.0,58188.0,290.4,237.951950,NaN,NaN

#### Primary Care Shortage Areas

I may not get to explore this one much if I run out of time, but to me, this one is very interesting as it can help measure the state of the healthcare services, if not the resiliency of a community. There is, sadly, no guide for the labels for the titles, so I will have to make some educated guesses about the meaning of the data. The dataset also contains information related to the poverty levels of counties, which might be great to look at along with the pollution and preventable hospitalizations data. 

These data are from 2018.

In [953]:
pcsa = pd.read_csv(
    "https://data.chhs.ca.gov/dataset/061494a3-e8c7-4615-a22f-b2851d44eb09/resource/0ba7c904-2302-400a-ba27-b8e8e5c1ab4a/download/pcsa.csv"
)

In [954]:
pcsa.head()

,MSSA_COUNTY,MSSA_ID,MSSA_NAME,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total,PCSA,Effective Date
0,Alameda,1.1,Livermore Central and West/Spring Town,58273,46.0,5.0,49.8,1172.5,1,3149,0.054,1,2,No,1/30/2020
1,Alameda,1.2,Altamont/Livermore East/Midway/Mountain House/Scotts Corner,39930,13.5,2.7,15.5,2576.1,4,1774,0.044,0,4,No,1/30/2020
2,Alameda,2a,Berkeley South and West/Emeryville/Oakland Northwest,86595,116.0,78.7,175.0,494.8,0,20908,0.241,4,4,No,1/30/2020
3,Alameda,2b,Albany/Berkeley East and North/Claremont/Cragmont/Forest Park/Rockridge/Temescal/Thousand Oaks,110451,273.0,39.4,302.6,365.0,0,8701,0.079,1,1,No,1/30/2020
4,Alameda,2c,Oakland West Central,88757,361.0,48.1,397.0,223.6,0,22684,0.256,5,5,Yes,1/30/2020

In [955]:
pcsa.tail()

,MSSA_COUNTY,MSSA_ID,MSSA_NAME,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total,PCSA,Effective Date
537,Yolo,246.1,Woodland,60630,61.0,35.3,87.5,692.9,0,7451,0.123,2,2,No,1/30/2020
538,Yolo,246.2,Knights Landing,4250,0.0,0.0,0.0,NaN,5,558,0.131,2,7,Yes,1/30/2020
539,Yuba,247,Browns Valley/Brownsville/Dobbins/Oregon House,4365,0.0,2.3,1.7,2567.6,4,979,0.224,4,8,Yes,1/30/2020
540,Yuba,248,Wheatland,4492,0.0,0.0,0.0,NaN,5,439,0.098,1,6,Yes,1/30/2020
541,Yuba,249,Marysville,64493,15.5,26.7,35.6,1811.6,2,12180,0.189,3,5,Yes,1/30/2020

### PART II: Determine Basic Characteristics of the Datasets

In [956]:
print(f"The dataset has {pollution.shape} rows and columns")

The dataset has (8035, 52) rows and columns

In [957]:
pollution.describe()

,Census Tract,Total Population,Click for interactive map,CES 2.0 Score,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Age,Age Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
count,8.035000e+03,8035.000000,0.0,7973.000000,7970.000000,7970.000000,7944.000000,7944.000000,8035.000000,8035.000000,8000.000000,8000.000000,8035.000000,8035.000000,8023.000000,8023.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8035.000000,8024.000000,8024.000000,8035.000000,8035.000000,7994.000000,7994.000000,7922.000000,7922.000000,7719.000000,7719.000000,7933.000000,7933.000000,7854.000000,7854.000000,7973.000000,7973.000000,7973.000000
mean,6.054896e+09,4636.459988,NaN,26.606402,0.104349,39.260227,10.014429,50.006294,18.239896,50.013181,351.935871,50.384763,287.109427,18.742999,2963.693970,50.006237,1252.227350,49.894214,8.392707,34.231261,27.058563,39.811074,0.458239,34.603782,3.250902,30.626656,1.377231,22.321954,40.908429,4.959199,50.006223,25.083450,50.307112,44.486697,49.903821,0.051184,50.017144,20.034259,49.993927,11.205441,48.267167,35.282491,49.993711,11.334557,49.984329,49.776480,5.172979,50.006271
std,2.652280e+07,1972.587602,NaN,14.650299,0.180335,32.807206,2.600539,28.869326,16.621729,28.875854,188.541031,28.843453,2596.014714,29.975867,13576.467856,28.869318,1223.264713,28.933722,16.630497,33.306609,69.483863,32.610623,1.457670,33.169953,4.478869,33.557663,3.209689,31.666188,12.831195,1.555485,28.869316,6.308193,28.885636,24.705735,28.936273,0.003822,28.867703,16.634084,28.881803,11.004975,29.803824,20.160349,28.876673,5.439067,28.893198,18.409073,1.913148,28.869307
min,6.001400e+09,0.000000,NaN,1.610000,0.000000,0.000000,2.302646,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000002,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.577824,0.433750,0.010000,0.000000,0.000000,0.000000,0.000000,0.038987,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.766502,0.495407,0.010000
25%,6.037265e+09,3358.000000,NaN,14.850000,0.000702,4.475000,8.077014,25.007500,6.540000,25.030000,223.138732,24.987500,0.000000,0.000000,64.488219,25.010000,521.617532,24.840000,0.000000,0.000000,1.500000,5.270000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.195448,3.781731,25.010000,22.500000,25.240000,26.917031,24.840000,0.048712,25.012500,6.500000,25.350000,3.000000,22.460000,18.390805,24.990000,7.480000,24.980000,34.808448,3.617393,25.010000
50%,6.059053e+09,4413.000000,NaN,23.720000,0.016299,36.320000,10.063901,50.005000,14.090000,50.010000,342.779798,49.995000,0.000000,0.000000,338.195458,50.010000,847.430800,49.890000,2.000000,26.890000,9.500000,36.790000,0.060000,25.630000,1.000000,15.120000,0.000000,0.000000,40.550198,4.915747,50.010000,24.800000,50.430000,39.637966,49.890000,0.050797,50.020000,15.000000,50.150000,7.700000,48.060000,32.000000,49.990000,10.460000,49.970000,49.339205,5.127515,50.010000
75%,6.073016e+09,5656.500000,NaN,36.580000,0.128813,68.157500,12.335363,75.002500,25.575000,75.005000,462.563113,74.995000,0.501744,33.295000,2523.436700,75.005000,1579.907424,74.945000,10.425000,63.150000,27.750000,68.510000,0.275000,63.130000,5.000000,55.500000,1.450000,41.050000,50.177186,6.082798,75.005000,27.400000,75.450000,54.970000,75.030000,0.053207,75.020000,30.400000,74.950000,16.200000,74.040000,50.358580,75.000000,14.190000,74.980000,64.670734,6.720880,75.000000
max,6.115041e+09,37452.000000,NaN,89.220000,1.277333,100.000000,17.044476,100.000000,164.400000,100.000000,1012.584740,100.000000,86025.509810,100.000000,758910.748800,100.000000,43561.814940,100.000000,322.500000,100.000000,2061.500000,100.000000,26.020000,100.000000,34.000000,100.000000,61.500000,100.000000,82.489761,10.000000,100.000000,100.000000,100.000000,236.164231,100.000000,0.071427,100.000000,79.600000,100.000000,79.100000,100.000000,99.074074,100.000000,72.340000,100.000000,96.224141,10.000000,100.000000

In [958]:
pollution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8035 entries, 0 to 8034
Data columns (total 52 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Census Tract               8035 non-null   int64
 1   Total Population           8035 non-null   int64
 2   California County          8035 non-null   object
 3   Click for interactive map  0 non-null      float64
 4   CES 2.0 Score              7973 non-null   float64
 5   CES 2.0 Percentile Range   7973 non-null   object
 6   Hyperlink                  8035 non-null   object
 7   Ozone                      7970 non-null   float64
 8   Ozone Pctl                 7970 non-null   float64
 9   PM2.5                      7944 non-null   float64
 10  PM2.5 Pctl                 7944 non-null   float64
 11  Diesel PM                  8035 non-null   float64
 12  Diesel PM Pctl             8035 non-null   float64
 13  Drinking Water             8000 non-null   float64
 14  Drinking Water Pctl        8000 non-null   float64
 15  Pesticides                 8035 non-null   float64
 16  Pesticides Pctl            8035 non-null   float64
 17  Tox. Release               8023 non-null   float64
 18  Tox. Release Pctl          8023 non-null   float64
 19  Traffic                    8035 non-null   float64
 20  Traffic Pctl               8035 non-null   float64
 21  Cleanup Sites              8035 non-null   float64
 22  Cleanup Sites Pctl         8035 non-null   float64
 23  Groundwater Threats        8035 non-null   float64
 24  Groundwater Threats Pctl   8035 non-null   float64
 25  Haz. Waste                 8035 non-null   float64
 26  Haz. Waste Pctl            8035 non-null   float64
 27  Imp. Water Bodies          8035 non-null   int64
 28  Imp. Water Bodies Pctl     8035 non-null   float64
 29  Solid Waste                8035 non-null   float64
 30  Solid Waste Pctl           8035 non-null   float64
 31  Pollution Burden           8035 non-null   float64
 32  Pollution Burden Score     8035 non-null   float64
 33  Pollution Burden Pctl      8035 non-null   float64
 34  Age                        8024 non-null   float64
 35  Age Pctl                   8024 non-null   float64
 36  Asthma                     8035 non-null   float64
 37  Asthma Pctl                8035 non-null   float64
 38  Low Birth Weight           7994 non-null   float64
 39  Low Birth Weight Pctl      7994 non-null   float64
 40  Education                  7922 non-null   float64
 41  Education Pctl             7922 non-null   float64
 42  Linguistic Isolation       7719 non-null   float64
 43  Linguistic Isolation Pctl  7719 non-null   float64
 44  Poverty                    7933 non-null   float64
 45  Poverty Pctl               7933 non-null   float64
 46  Unemployment               7854 non-null   float64
 47  Unemployment Pctl          7854 non-null   float64
 48  Pop. Char.                 7973 non-null   float64
 49  Pop. Char. Score           7973 non-null   float64
 50  Pop. Char. Pctl            7973 non-null   float64
 51  Location 1                 8035 non-null   object
dtypes: float64(45), int64(3), object(4)
memory usage: 3.2+ MB

----

In [959]:
print(f"The dataset has {ph1.shape} rows and columns")

The dataset has (7928, 14) rows and columns

In [960]:
ph1.describe()

,Year,PDI,RiskAdjRate_ICD9,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode
count,7928.000000,7928.000000,5804.000000,2065.000000,2065.000000,797.0
mean,2012.083754,42.172553,86.687078,34.397821,33.143874,1.0
std,4.499644,36.468774,97.233093,34.824722,33.808278,0.0
min,2005.000000,9.000000,0.000000,0.000000,0.000000,1.0
25%,2008.000000,15.000000,30.800000,10.800000,11.100000,1.0
50%,2012.000000,17.000000,54.800000,25.300000,24.300000,1.0
75%,2016.000000,90.000000,98.000000,47.900000,45.600000,1.0
max,2020.000000,92.000000,864.300000,298.000000,307.600000,1.0

In [961]:
ph1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7928 entries, 0 to 7927
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               7928 non-null   int64
 1   County             7928 non-null   object
 2   PDI                7928 non-null   int64
 3   PDIDescription     7928 non-null   object
 4   Count_ICD9         4068 non-null   object
 5   Population_ICD9    4068 non-null   object
 6   ObsRate_ICD9       5835 non-null   object
 7   RiskAdjRate_ICD9   5804 non-null   float64
 8   Count_ICD10        1268 non-null   object
 9   Population_ICD10   1268 non-null   object
 10  ObsRate_ICD10      2065 non-null   float64
 11  RiskAdjRate_ICD10  2065 non-null   float64
 12  AnnotationCode     797 non-null    float64
 13  AnnotationDesc     797 non-null    object
dtypes: float64(4), int64(2), object(8)
memory usage: 867.2+ KB

In [962]:
# for r in ph1.columns:
# if ph1[r].dtype == "object":
# ph1[r] = ph1[r].astype(float)

# okay, that didn't work.
# was trying to change the dtypes of the columns to merge datasets later
# but maybe that is an exercise for another time.

----

In [963]:
print(f"The dataset has {ph2.shape} rows and columns")

The dataset has (14514, 14) rows and columns

In [964]:
ph2.describe()

,Year,PQI,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode
count,14514.000000,14514.000000,10123.000000,1.012300e+04,10375.00000,10358.000000,3990.000000,3.990000e+03,4130.000000,4130.000000,140.0
mean,2012.276423,26.747967,2145.906549,8.229931e+05,239.81094,245.132072,2091.013033,9.892439e+05,221.417409,205.971474,1.0
std,4.555688,34.050777,14640.906977,3.349636e+06,343.24735,353.514842,13133.097881,3.863972e+06,291.155381,265.488676,0.0
min,2005.000000,1.000000,0.000000,1.000000e+00,0.00000,0.000000,0.000000,2.060000e+02,0.000000,0.000000,1.0
25%,2008.000000,7.000000,24.000000,2.839950e+04,24.20000,25.100000,37.000000,3.833825e+04,36.100000,34.225345,1.0
50%,2012.000000,12.000000,129.000000,1.128790e+05,93.30000,93.000000,164.000000,1.508150e+05,106.800000,99.588924,1.0
75%,2016.000000,16.000000,628.000000,3.806760e+05,315.65000,322.550000,701.500000,5.570680e+05,269.700000,245.282717,1.0
max,2020.000000,93.000000,354845.000000,2.884238e+07,2181.00000,2455.500000,272219.000000,3.057685e+07,1870.700000,1773.125123,1.0

In [965]:
ph2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14514 entries, 0 to 14513
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               14514 non-null  int64
 1   County             14514 non-null  object
 2   PQI                14514 non-null  int64
 3   PQIDescription     14514 non-null  object
 4   Count_ICD9         10123 non-null  float64
 5   Population_ICD9    10123 non-null  float64
 6   ObsRate_ICD9       10375 non-null  float64
 7   RiskAdjRate_ICD9   10358 non-null  float64
 8   Count_ICD10        3990 non-null   float64
 9   Population_ICD10   3990 non-null   float64
 10  ObsRate_ICD10      4130 non-null   float64
 11  RiskAdjRate_ICD10  4130 non-null   float64
 12  AnnotationCode     140 non-null    float64
 13  AnnotationDesc     140 non-null    object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.6+ MB

----

In [966]:
print(f"The dataset has {pcsa.shape} rows and columns")

The dataset has (542, 15) rows and columns

In [967]:
pcsa.describe()

,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total
count,542.000000,542.000000,542.000000,542.000000,512.000000,542.000000,542.000000,542.000000,542.000000,542.000000
mean,70558.940959,69.538192,23.584133,87.221956,3253.890820,2.044280,10652.044280,0.158489,2.570111,4.614391
std,49495.682036,111.963221,28.728731,130.195360,10721.875652,1.969705,9789.781657,0.079765,1.414760,2.577597
min,902.000000,0.000000,0.000000,0.000000,99.400000,0.000000,79.000000,0.030000,0.000000,0.000000
25%,17599.000000,4.075000,3.625000,7.050000,794.525000,0.000000,2533.000000,0.096000,1.000000,2.000000
50%,83125.500000,32.750000,15.300000,47.100000,1352.400000,1.000000,8286.000000,0.144000,2.000000,4.000000
75%,109738.250000,82.500000,33.300000,105.200000,2474.600000,4.000000,15885.750000,0.208750,4.000000,7.000000
max,198013.000000,886.000000,246.300000,1070.700000,160095.000000,5.000000,56556.000000,0.426000,5.000000,10.000000

In [968]:
pcsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MSSA_COUNTY           542 non-null    object
 1   MSSA_ID               542 non-null    object
 2   MSSA_NAME             542 non-null    object
 3   Total_Population      542 non-null    int64
 4   EST_Physicians        542 non-null    float64
 5   EST_FNPPA             542 non-null    float64
 6   EST_Providers         542 non-null    float64
 7   Provider_Ratio        512 non-null    float64
 8   Score_Provider_Ratio  542 non-null    int64
 9   Pop_100FPL            542 non-null    int64
 10  PCT_100FPL            542 non-null    float64
 11  Score_Poverty         542 non-null    int64
 12  Score_Total           542 non-null    int64
 13  PCSA                  542 non-null    object
 14  Effective Date        542 non-null    object
dtypes: float64(5), int64(5), object(5)
memory usage: 63.6+ KB

----

### PART III: Analyzing the Pollution Dataset

In [969]:
##Which census tracts are most affected by pollution?
pollution.sort_values("CES 2.0 Score", ascending=False, na_position="last").head(3)

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Age,Age Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
0,6019001100,3174,Fresno,NaN,89.22,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.765656684999,36.721996035,-119.791633689999,36.699489033",0.255228,80.87,14.746087,97.83,44.23,93.91,519.88237,83.3,5.470140,53.90,96414.45837,99.81,1217.535680,66.95,85.50,98.86,55.75,85.47,0.52,74.84,0,0.0,5.0,81.49,78.621127,9.530973,99.95,26.4,67.66,130.748821,99.03,0.058025,94.73,55.2,95.60,21.6,83.66,77.500865,97.78,19.30,92.05,90.072268,9.360658,99.6,"Fresno 93706\n(36.709695199999999, -119.7816961)"
1,6019000300,3609,Fresno,NaN,83.71,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.787833689999,36.734409036,-119.813343693999,36.721384034",0.287130,83.28,14.619618,97.57,46.75,94.76,519.88237,83.3,37.749178,69.58,19637.97210,97.79,666.915834,36.06,23.50,86.17,27.50,68.24,0.16,50.42,0,0.0,1.0,37.88,71.967758,8.724451,99.45,29.9,88.03,132.400000,99.19,0.061233,98.40,47.3,91.05,18.3,78.34,81.204032,98.93,NaN,NaN,92.323243,9.594592,99.9,"Fresno 93706\n(36.726461999999998, -119.8010347)"
2,6019000200,3167,Fresno,NaN,83.47,96-100% (highest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-119.794330691999,36.743608036,-119.813074694999,36.728625035",0.304446,84.40,14.554656,97.47,46.91,94.80,519.88237,83.3,11.696444,60.54,11826.72494,95.53,1012.283892,59.69,21.25,84.41,49.75,83.07,0.21,56.85,0,0.0,0.0,0.00,72.408578,8.777912,99.54,27.5,76.31,132.321225,99.11,0.062864,99.29,52.1,93.95,16.2,74.04,86.828423,99.66,25.27,98.14,91.499039,9.508958,99.8,"Fresno 93706\n(36.735491400000001, -119.8055044)"

In [970]:
##Which census tracts are least affected by pollution?
pollution.sort_values("CES 2.0 Score", ascending=True, na_position="last").head(3)

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,Drinking Water,Drinking Water Pctl,Pesticides,Pesticides Pctl,Tox. Release,Tox. Release Pctl,Traffic,Traffic Pctl,Cleanup Sites,Cleanup Sites Pctl,Groundwater Threats,Groundwater Threats Pctl,Haz. Waste,Haz. Waste Pctl,Imp. Water Bodies,Imp. Water Bodies Pctl,Solid Waste,Solid Waste Pctl,Pollution Burden,Pollution Burden Score,Pollution Burden Pctl,Age,Age Pctl,Asthma,Asthma Pctl,Low Birth Weight,Low Birth Weight Pctl,Education,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
7972,6061020606,4303,Placer,NaN,1.61,1-5% (lowest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-121.187352139999,38.731068113,-121.226001147999,38.714313115",0.256708,80.97,8.240441,26.83,7.70,28.96,29.610390,3.63,0.00000,0.00,35.369289,18.56,615.256205,31.65,2.35,28.78,0.0,0.0,0.000,0.00,1,15.12,0.0,0.0,22.370887,2.711965,7.23,17.2,5.15,18.848311,8.43,0.046323,7.99,2.0,5.43,1.1,6.73,5.539227,1.97,4.08,4.32,5.717518,0.594238,0.03,"Granite Bay 95746\n(38.716659900000003, -121.20832110000001)"
7971,6017030701,6205,El Dorado,NaN,1.91,1-5% (lowest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-121.036794122999,38.77323413,-121.118630128999,38.70041512",0.305819,84.43,7.625008,18.97,0.78,4.01,119.441487,12.27,0.09721,20.86,36.235795,18.92,120.225524,2.66,0.70,10.38,0.0,0.0,0.000,0.00,1,15.12,0.0,0.0,18.406099,2.231301,2.80,20.9,14.21,16.650000,5.53,0.046411,8.39,0.7,0.87,0.9,5.19,7.721948,4.51,6.71,18.98,8.240793,0.856439,0.08,"El Dorado Hills 95762\n(38.737015, -121.0874235)"
7970,6075017101,3544,San Francisco,NaN,2.08,1-5% (lowest scores),"http://oehha.maps.arcgis.com/apps/Viewer/index.html?appid=112d915348834263ab8ecd5c6da67f68&extent=-122.442397217999,37.769694942,-122.449446218999,37.761652941",0.000000,0.00,7.350471,14.72,54.74,97.36,46.883117,7.39,0.00000,0.00,152.463068,36.21,399.858166,16.64,1.75,23.58,0.0,0.0,0.035,15.99,0,0.00,0.0,0.0,20.221011,2.451327,4.59,19.8,10.33,28.913137,28.81,0.045673,5.45,1.3,2.57,0.0,0.00,9.822958,7.89,3.20,2.04,8.157160,0.847710,0.05,"San Francisco 94117\n(37.765724499999997, -122.4460837)"

In [971]:
##Aggregating by county.
avg_CES = (
    pollution.groupby(["California County"])["CES 2.0 Score"]
    .agg(["mean"])
    .reset_index()
)

In [972]:
avg_CES = avg_pol_index.rename(columns={"mean": "avg_CES"})
avg_CES.head()

  California County    avg_CES
0          Alameda   21.359300
1           Alpine   11.360000
2           Amador   18.956667
3            Butte   19.712745
4        Calaveras   13.722000

In [973]:
# And...here we have the most affected counties in California!
# Kind of expected Fresno, given a. what I've heard and b. the census tract data above
avg_CES.sort_values("avg_CES", ascending=False).head()

   California County    avg_CES
9            Fresno   43.623232
23           Merced   42.012245
53           Tulare   40.423205
15            Kings   39.103077
49       Stanislaus   38.601596

In [974]:
# And... here we have the least affected counties in California!
# Now you know where to move to, lol.
# But I don't know where any of these counties are, except Marin (which is lovely)
# Next goal: buy a house in Marin!
avg_CES.sort_values("avg_CES", ascending=True).head()

   California County    avg_CES
52          Trinity    9.862000
8          El Dorado  10.176429
20            Marin   10.306481
7          Del Norte  10.878571
1            Alpine   11.360000

In [975]:
# Instead of PM, we use the PM percentile for this calculation.
avg_PM = (
    pollution.groupby(["California County"])["PM2.5 Pctl"].agg(["mean"]).reset_index()
)

In [976]:
avg_PM = avg_PM.rename(columns={"mean": "avg_PM"})
avg_PM.head()

  California County     avg_PM
0          Alameda   26.557056
1           Alpine    0.260000
2           Amador   17.545000
3            Butte   41.396471
4        Calaveras   11.382000

In [977]:
# Counties with most PM pollution
# LA was so obvious, but I do not want to live in Fresno now, ever.
avg_PM.sort_values("avg_PM", ascending=False).head()

   California County     avg_PM
15            Kings   97.358000
9            Fresno   93.813211
53           Tulare   90.270132
14             Kern   85.315200
18       Los Angeles  72.643635

In [978]:
# Counties with least PM pollution
# Alpine sounds great (I should first look up where that is, though)
avg_PM.sort_values("avg_PM", ascending=False).tail()

   California County    avg_PM
16             Lake   0.638667
52          Trinity   0.462500
24            Modoc   0.350000
1            Alpine   0.260000
25             Mono   0.070000

In [979]:
# Similarly, analysis for drinking water.
# I'm choosing to analyse PM and drinking water to connect with asthma and gastroenteritis.
# See if there are any patterns in the data.
avg_dw = (
    pollution.groupby(["California County"])["Drinking Water Pctl"]
    .agg(["mean"])
    .reset_index()
)

In [980]:
avg_dw = avg_dw.rename(columns={"mean": "avg_dw"})
avg_dw.head()

  California County     avg_dw
0          Alameda    8.872972
1           Alpine   86.550000
2           Amador   50.504444
3            Butte   44.417059
4        Calaveras   39.489000

In [981]:
# Counties with most drinking water pollution
# Nooooooo, why Alpine (still haven't looked up where that is, though)
# Fresno = -10000 points in my notebook
# Alpine is the county next to the counties with Lake Tahoe.
avg_dw.sort_values("avg_dw", ascending=False).head()

   California County     avg_dw
45           Sierra   93.710000
1            Alpine   86.550000
13             Inyo   84.100000
9            Fresno   83.430909
34        San Benito  83.221818

In [982]:
# Counties with least drinking water pollution
# letsmovetomarin
# Interesting to see San Francisco here!
avg_dw.sort_values("avg_dw", ascending=False).tail()

   California County     avg_dw
20            Marin   16.784630
6       Contra Costa  13.235700
52          Trinity    9.982000
0           Alameda    8.872972
37     San Francisco   7.559381

In [983]:
# Creating a dataset with only the columns I need
# I did this on barely any sleep, so I should get an A already. Just kidding. You know I'm not.
county_pol = (
    pollution.groupby(["California County"])
    .agg(
        {
            "CES 2.0 Score": "mean",
            "PM2.5 Pctl": "mean",
            "Drinking Water Pctl": "mean",
            "Asthma": "mean",
            "Groundwater Threats Pctl": "mean",
            "Pollution Burden Pctl": "mean",
        }
    )
    .reset_index()
)

In [984]:
county_pol = county_pol.astype({"California County": str})

In [985]:
# To see how many counties have a serious asthma problem
# Although, I am not familiar with how the data is arranged (what do the numbers mean under asthma?)
# So this might be not useful at all.
# Mostly did this subset so you know that I know how to do one.

county_pol[county_pol["Asthma"] > 50].sort_values("Asthma", ascending=False).head()

,California County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl
51,Tehama,29.644545,23.537000,82.430000,78.467130,57.775455,43.412727
12,Imperial,32.740000,33.886667,46.022903,75.925522,28.391290,39.540968
0,Alameda,21.359300,26.557056,8.872972,68.906641,63.891750,34.465278
16,Lake,14.337333,0.638667,34.330667,68.736117,38.638667,8.398667
47,Solano,19.316915,19.365208,34.214526,66.924468,49.322812,27.768854

In [986]:
# To look at counties with high PM, but also looking at the highs and lows from census tract data
# But mostly to demonstrate some fancy aggregation, subsetting, and sorting skills

pollution.groupby(["California County"])["PM2.5 Pctl"].agg(
    ["mean", "min", "max"]
).reset_index().sort_values("mean", ascending=False).head()

   California County       mean    min     max
15            Kings   97.358000  82.07   98.78
9            Fresno   93.813211   0.25   98.72
53           Tulare   90.270132   9.64   98.59
14             Kern   85.315200   1.76  100.00
18       Los Angeles  72.643635   5.30   94.89

In [987]:
# Making this more complex:
# First checking for asthma
pollution.groupby(["California County"]).agg(
    {"PM2.5 Pctl": ["mean", "min", "max"], "Asthma": ["mean", "max", "min"]}
).reset_index().sort_values(("Asthma", "mean"), ascending=False).head(10)

   California County PM2.5 Pctl                   Asthma              \
                           mean    min    max       mean         max
51           Tehama   23.537000   8.60  42.22  78.467130   91.850000
12         Imperial   33.886667   5.49  65.50  75.925522  110.004031
0           Alameda   26.557056  18.76  40.71  68.906641  163.600000
16             Lake    0.638667   0.39   1.64  68.736117  111.200000
47           Solano   19.365208  11.74  30.39  66.924468  121.400000
15            Kings   97.358000  82.07  98.78  65.749148   92.573042
11         Humboldt    7.224231   1.25  11.18  64.969000   90.503972
22        Mendocino    1.402000   0.58   2.58  64.721689  105.500000
6       Contra Costa  24.443333  15.55  35.64  63.936861  139.400000
9            Fresno   93.813211   0.25  98.72  62.538328  132.400000


          min
51  60.965114
12  25.840000
0   17.807264
16  32.305375
47  16.150000
15  22.770000
11  40.266660
22  23.367982
6    1.953980
9   16.191355

In [988]:
# Making this more complex:
# Now looking at highest PMs
pollution.groupby(["California County"]).agg(
    {"PM2.5 Pctl": ["mean", "min", "max"], "Asthma": ["mean", "max", "min"]}
).reset_index().sort_values(("PM2.5 Pctl", "mean"), ascending=False).head(10)

   California County PM2.5 Pctl                    Asthma              \
                           mean    min     max       mean         max
15            Kings   97.358000  82.07   98.78  65.749148   92.573042
9            Fresno   93.813211   0.25   98.72  62.538328  132.400000
53           Tulare   90.270132   9.64   98.59  48.913081   68.170000
14             Kern   85.315200   1.76  100.00  44.664824   96.528159
18       Los Angeles  72.643635   5.30   94.89  43.892481  173.189408
35    San Bernardino  69.303883   0.60   96.19  58.055179  226.600000
19           Madera   65.102609   0.30   92.99  57.891148   86.250000
23           Merced   60.698571  21.92   66.30  60.585245  131.000000
29           Orange   54.112079  10.67   90.45  27.566696   54.660000
49       Stanislaus   51.010532  37.78   58.70  48.284776   66.635000


          min
15  22.770000
9   16.191355
53  28.001741
14  16.600000
18   0.000000
35   0.000000
19  21.091222
23   0.000000
29  11.805142
49  27.570000

If you look at the data above, there doesn't seem to be much correlation between high concentrations of PM and asthma, at least using mean values for each county instead of looking at the highest values or census tract data. Of course, this is not true for Kings County and Fresno County. They have very high rates of pollution, possibly also due to their geography and topography, so I would not recommend living there.

In [989]:
county_pol = county_pol.rename(columns={"California County": "County"})

In [990]:
# These I put here to help run my merge below (which doesn't work. Yet. Someday, it will.)
county_pol.reset_index(drop=True, inplace=True)
county_pol.head()

,County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl
0,Alameda,21.359300,26.557056,8.872972,68.906641,63.891750,34.465278
1,Alpine,11.360000,0.260000,86.550000,18.594465,19.900000,10.860000
2,Amador,18.956667,17.545000,50.504444,39.045190,53.198889,28.472222
3,Butte,19.712745,41.396471,44.417059,54.365831,37.763725,27.133529
4,Calaveras,13.722000,11.382000,39.489000,38.468567,31.257000,16.970000

In [991]:
# This is also to assist with my merge. Still doesn't work.
# Note: all my other merges work, except with this dataset (you will see below)
# Sorry for all the comments + sass. It can get boring without it but it is probably weird being in my head.
county_pol.astype({"County": "str"})
county_pol.head()

,County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl
0,Alameda,21.359300,26.557056,8.872972,68.906641,63.891750,34.465278
1,Alpine,11.360000,0.260000,86.550000,18.594465,19.900000,10.860000
2,Amador,18.956667,17.545000,50.504444,39.045190,53.198889,28.472222
3,Butte,19.712745,41.396471,44.417059,54.365831,37.763725,27.133529
4,Calaveras,13.722000,11.382000,39.489000,38.468567,31.257000,16.970000

----

### PART IV: Bringing in Preventable Hospitalizations

In [1017]:
# Realised too late that:
# a. The dtypes for many of the 'numeric' columns are actually objects
# b. I can't change them to numeric values for some reason
# And so, I will not be able to conduct numerical analyses on this dataset.
# sad

ph1.astype({"County": "str"})
ph1.info()

# Clearly, changing the dtype didn't change anything
ph1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7928 entries, 0 to 7927
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               7928 non-null   int64
 1   County             7928 non-null   object
 2   PDI                7928 non-null   int64
 3   PDIDescription     7928 non-null   object
 4   Count_ICD9         4068 non-null   object
 5   Population_ICD9    4068 non-null   object
 6   ObsRate_ICD9       5835 non-null   object
 7   RiskAdjRate_ICD9   5804 non-null   float64
 8   Count_ICD10        1268 non-null   object
 9   Population_ICD10   1268 non-null   object
 10  ObsRate_ICD10      2065 non-null   float64
 11  RiskAdjRate_ICD10  2065 non-null   float64
 12  AnnotationCode     797 non-null    float64
 13  AnnotationDesc     797 non-null    object
dtypes: float64(4), int64(2), object(8)
memory usage: 867.2+ KB

,Year,County,PDI,PDIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
0,2005,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,022","542,079",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,722","554,385",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,919","558,242",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,066","542,796",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,_STATEWIDE,9,Low Birth Weight (<2500 grams),"29,062","518,146",56.1,56.1,NaN,NaN,NaN,NaN,NaN,NaN

In [993]:
# So, looks like there is a problem within the dataset
# On an average, the risk rate seems to be going down (lowest between 2011-2013)
# Looking at the observed rate would've been nice, but the values are skewed.
# Notice the extremely low values for 2020 (less observed hospitalizations + risk due to the pandemic?)
# Also, why is there no aggregation for Count_ICD9, Population_ICD9 and ObsRate_ICD9?

ph1.groupby(["Year"]).agg(["mean", "max", "min"])

            PDI         RiskAdjRate_ICD9             ObsRate_ICD10         \
           mean max min             mean    max  min          mean    max
Year
2005  40.120075  92   9        98.697925  837.1  0.0           NaN    NaN
2006  40.120075  92   9        92.621172  680.1  0.0           NaN    NaN
2007  40.120075  92   9        88.175000  467.9  0.0           NaN    NaN
2008  40.120075  92   9        82.927841  619.6  0.0           NaN    NaN
2009  40.120075  92   9        85.635863  614.3  0.0           NaN    NaN
2010  40.120075  92   9        84.102083  530.4  0.0           NaN    NaN
2011  40.120075  92   9        82.790720  675.3  0.0           NaN    NaN
2012  40.120075  92   9        82.673106  681.8  0.0           NaN    NaN
2013  40.120075  92   9        82.368880  651.8  0.0           NaN    NaN
2014  40.120075  92   9        84.029278  640.7  0.0           NaN    NaN
2015  40.120075  92   9        89.474857  864.3  0.0           NaN    NaN
2016  48.000000  92  14              NaN    NaN  NaN     47.493220  224.7
2017  48.000000  92  14              NaN    NaN  NaN     36.098789  202.5
2018  48.000000  92  14              NaN    NaN  NaN     34.123729  231.0
2019  48.000000  92  14              NaN    NaN  NaN     35.247942  298.0
2020  48.000000  92  14              NaN    NaN  NaN     19.025424  124.2

          RiskAdjRate_ICD10             AnnotationCode
      min              mean    max  min           mean  max  min
Year
2005  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2006  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2007  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2008  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2009  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2010  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2011  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2012  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2013  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2014  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2015  NaN               NaN    NaN  NaN            NaN  NaN  NaN
2016  0.0         45.787409  201.9  0.0            1.0  1.0  1.0
2017  0.0         34.696852  213.9  0.0            1.0  1.0  1.0
2018  0.0         32.705811  242.1  0.0            1.0  1.0  1.0
2019  0.0         34.329540  307.6  0.0            1.0  1.0  1.0
2020  0.0         18.199758  125.3  0.0            1.0  1.0  1.0

In [994]:
# Seeing numbers according to PDI Descriptions (Pediatric Quality Indicator) and Risk Rate
ph1.groupby(["PDIDescription"]).agg("mean").sort_values(
    "RiskAdjRate_ICD9", ascending=False
)

# So, the risk rate for Perforated Appendixes is much greater than the rest. Makes sense!
# Also, the short term diabetes complications makes sense as few kids have diabetes
# Pediatric diabetes is not as widespread an issue as pediatric perforated appendixes.

,Year,PDI,RiskAdjRate_ICD9,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode
PDIDescription,,,,,,
Perforated Appendix (Age 1-17),2010.0,17.0,312.626412,NaN,NaN,NaN
PDI Overall Composite (Age 6-17),2012.5,90.0,116.240524,69.645085,66.589831,1.0
PDI Chronic Composite (Age 6-17),2012.5,92.0,74.027273,44.800339,42.653220,1.0
Asthma (Age 2-17),2012.5,14.0,73.199230,43.988136,43.589153,1.0
Gastroenteritis (Age 3 months-17 years),2012.5,16.0,68.273652,24.689831,24.156610,1.0
Low Birth Weight (<2500 grams),2010.0,9.0,53.232473,NaN,NaN,NaN
PDI Acute Composite (Age 6-17),2012.5,91.0,42.097072,24.850508,24.231864,1.0
Urinary Tract Infection (Age 3 months-17 years),2012.5,18.0,29.348382,16.892881,15.743051,1.0
Diabetes Short-term Complications (Age 6-17),2012.5,15.0,28.016487,15.917966,15.043390,1.0

In [995]:
# Using subsetting to get only the data we need
# First we subset for the most recent year, then for Asthma and gastroenteritis
newph1 = ph1[ph1["Year"] == 2015]

In [996]:
# Getting data for asthma first.
asthma_ph1 = newph1[newph1["PDIDescription"].str.contains("Asthma", case=False)]
asthma_ph1.head()

,Year,County,PDI,PDIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
21,2015,_STATEWIDE,14,Asthma (Age 2-17),"5,311","6,061,001",87.6,85.0,NaN,NaN,NaN,NaN,NaN,NaN
155,2015,Alameda,14,Asthma (Age 2-17),416,"230,121",180.8,172.9,NaN,NaN,NaN,NaN,NaN,NaN
289,2015,Alpine,14,Asthma (Age 2-17),0,172,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
423,2015,Amador,14,Asthma (Age 2-17),NaN,NaN,56,56.6,NaN,NaN,NaN,NaN,NaN,NaN
557,2015,Butte,14,Asthma (Age 2-17),35,"31,025",112.8,113.2,NaN,NaN,NaN,NaN,NaN,NaN

In [1013]:
aph1 = asthma_ph1[
    [
        "Year",
        "County",
        "PDIDescription",
        "Count_ICD9",
        "Population_ICD9",
        "RiskAdjRate_ICD9",
    ]
]
aph1.head()

,Year,County,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
21,2015,_STATEWIDE,Asthma (Age 2-17),"5,311","6,061,001",85.0
155,2015,Alameda,Asthma (Age 2-17),416,"230,121",172.9
289,2015,Alpine,Asthma (Age 2-17),0,172,0.0
423,2015,Amador,Asthma (Age 2-17),NaN,NaN,56.6
557,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2

In [998]:
# dropping the first row of the database because I don't really need it for my merge.
aph1 = aph1.iloc[1:, :]
# aph1.drop(columns={"index"}, inplace=True)
aph1.head()

,Year,County,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
155,2015,Alameda,Asthma (Age 2-17),416,"230,121",172.9
289,2015,Alpine,Asthma (Age 2-17),0,172,0.0
423,2015,Amador,Asthma (Age 2-17),NaN,NaN,56.6
557,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2
691,2015,Calaveras,Asthma (Age 2-17),NaN,NaN,82.9

In [999]:
# Now, onto gastroenteritis! Bombs away!
gastro_ph1 = newph1[
    newph1["PDIDescription"].str.contains("Gastroenteritis", case=False)
]
gastro_ph1.head()

,Year,County,PDI,PDIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
53,2015,_STATEWIDE,16,Gastroenteritis (Age 3 months-17 years),"3,491","6,718,265",52,49.8,NaN,NaN,NaN,NaN,NaN,NaN
187,2015,Alameda,16,Gastroenteritis (Age 3 months-17 years),110,"255,762",43,40.6,NaN,NaN,NaN,NaN,NaN,NaN
321,2015,Alpine,16,Gastroenteritis (Age 3 months-17 years),0,181,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
455,2015,Amador,16,Gastroenteritis (Age 3 months-17 years),NaN,NaN,25.5,25.8,NaN,NaN,NaN,NaN,NaN,NaN
589,2015,Butte,16,Gastroenteritis (Age 3 months-17 years),29,"34,157",84.9,84.3,NaN,NaN,NaN,NaN,NaN,NaN

In [1000]:
gph1 = gastro_ph1[
    [
        "Year",
        "County",
        "PDIDescription",
        "Count_ICD9",
        "Population_ICD9",
        "RiskAdjRate_ICD9",
    ]
]
gph1.head()

,Year,County,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
53,2015,_STATEWIDE,Gastroenteritis (Age 3 months-17 years),"3,491","6,718,265",49.8
187,2015,Alameda,Gastroenteritis (Age 3 months-17 years),110,"255,762",40.6
321,2015,Alpine,Gastroenteritis (Age 3 months-17 years),0,181,0.0
455,2015,Amador,Gastroenteritis (Age 3 months-17 years),NaN,NaN,25.8
589,2015,Butte,Gastroenteritis (Age 3 months-17 years),29,"34,157",84.3

In [1001]:
gph1 = gph1.iloc[1:, :].reset_index()

In [1002]:
# gph1.drop(columns="index", inplace=True)
gph1.head()

,index,Year,County,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
0,187,2015,Alameda,Gastroenteritis (Age 3 months-17 years),110,"255,762",40.6
1,321,2015,Alpine,Gastroenteritis (Age 3 months-17 years),0,181,0.0
2,455,2015,Amador,Gastroenteritis (Age 3 months-17 years),NaN,NaN,25.8
3,589,2015,Butte,Gastroenteritis (Age 3 months-17 years),29,"34,157",84.3
4,723,2015,Calaveras,Gastroenteritis (Age 3 months-17 years),0,"5,534",0.0

In [1003]:
pol_aph1 = pd.merge(county_pol, aph1, on=["County"], how="outer")
pol_aph1.head()

,County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl,Year,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
0,Alameda,21.359300,26.557056,8.872972,68.906641,63.891750,34.465278,NaN,NaN,NaN,NaN,NaN
1,Alpine,11.360000,0.260000,86.550000,18.594465,19.900000,10.860000,NaN,NaN,NaN,NaN,NaN
2,Amador,18.956667,17.545000,50.504444,39.045190,53.198889,28.472222,NaN,NaN,NaN,NaN,NaN
3,Butte,19.712745,41.396471,44.417059,54.365831,37.763725,27.133529,NaN,NaN,NaN,NaN,NaN
4,Calaveras,13.722000,11.382000,39.489000,38.468567,31.257000,16.970000,NaN,NaN,NaN,NaN,NaN

In [1004]:
# This merge doesn't really work; for some reason, I get a lot of NaN values
# Other merges work completely fine, so I am confused.
# With how set to 'left', I only get five rows
# How set to inner, I get nothing
# How set to outer, I get half NaN values (first half is right df and second half is left df)
# How set to right looks like the one below (left df is all NaN values)

pol_gph1 = pd.merge(county_pol, gph1, on=["County"], how="right")
pol_gph1.head()

,County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl,index,Year,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
0,Alameda,NaN,NaN,NaN,NaN,NaN,NaN,187,2015,Gastroenteritis (Age 3 months-17 years),110,"255,762",40.6
1,Alpine,NaN,NaN,NaN,NaN,NaN,NaN,321,2015,Gastroenteritis (Age 3 months-17 years),0,181,0.0
2,Amador,NaN,NaN,NaN,NaN,NaN,NaN,455,2015,Gastroenteritis (Age 3 months-17 years),NaN,NaN,25.8
3,Butte,NaN,NaN,NaN,NaN,NaN,NaN,589,2015,Gastroenteritis (Age 3 months-17 years),29,"34,157",84.3
4,Calaveras,NaN,NaN,NaN,NaN,NaN,NaN,723,2015,Gastroenteritis (Age 3 months-17 years),0,"5,534",0.0

In [1005]:
# pol_aph1 = county_pol.merge(
# asthma_ph1, how="right", left_on=["California County"], right_on=["County"]
# )

In [1009]:
# This doesn't work either because of the dtypes issue with the datasets.

po_aph_conc = pd.concat([county_pol, aph1], axis=1, join="outer")
po_aph_conc.head()

,County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl,Year,County,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
0,Alameda,21.359300,26.557056,8.872972,68.906641,63.891750,34.465278,NaN,NaN,NaN,NaN,NaN,NaN
1,Alpine,11.360000,0.260000,86.550000,18.594465,19.900000,10.860000,NaN,NaN,NaN,NaN,NaN,NaN
2,Amador,18.956667,17.545000,50.504444,39.045190,53.198889,28.472222,NaN,NaN,NaN,NaN,NaN,NaN
3,Butte,19.712745,41.396471,44.417059,54.365831,37.763725,27.133529,NaN,NaN,NaN,NaN,NaN,NaN
4,Calaveras,13.722000,11.382000,39.489000,38.468567,31.257000,16.970000,NaN,NaN,NaN,NaN,NaN,NaN

In [1010]:
# This merge works!
aph1_gph1 = pd.merge(aph1, gph1, on=["County"])

In [1011]:
aph1_gph1.head()

,Year_x,County,PDIDescription_x,Count_ICD9_x,Population_ICD9_x,RiskAdjRate_ICD9_x,index,Year_y,PDIDescription_y,Count_ICD9_y,Population_ICD9_y,RiskAdjRate_ICD9_y
0,2015,Alameda,Asthma (Age 2-17),416,"230,121",172.9,187,2015,Gastroenteritis (Age 3 months-17 years),110,"255,762",40.6
1,2015,Alpine,Asthma (Age 2-17),0,172,0.0,321,2015,Gastroenteritis (Age 3 months-17 years),0,181,0.0
2,2015,Amador,Asthma (Age 2-17),NaN,NaN,56.6,455,2015,Gastroenteritis (Age 3 months-17 years),NaN,NaN,25.8
3,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2,589,2015,Gastroenteritis (Age 3 months-17 years),29,"34,157",84.3
4,2015,Calaveras,Asthma (Age 2-17),NaN,NaN,82.9,723,2015,Gastroenteritis (Age 3 months-17 years),0,"5,534",0.0

### PART V: Bringing in Primary Care Shortage Areas

In [663]:
pcsa.head()

,MSSA_COUNTY,MSSA_ID,MSSA_NAME,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total,PCSA,Effective Date
0,Alameda,1.1,Livermore Central and West/Spring Town,58273,46.0,5.0,49.8,1172.5,1,3149,0.054,1,2,No,1/30/2020
1,Alameda,1.2,Altamont/Livermore East/Midway/Mountain House/Scotts Corner,39930,13.5,2.7,15.5,2576.1,4,1774,0.044,0,4,No,1/30/2020
2,Alameda,2a,Berkeley South and West/Emeryville/Oakland Northwest,86595,116.0,78.7,175.0,494.8,0,20908,0.241,4,4,No,1/30/2020
3,Alameda,2b,Albany/Berkeley East and North/Claremont/Cragmont/Forest Park/Rockridge/Temescal/Thousand Oaks,110451,273.0,39.4,302.6,365.0,0,8701,0.079,1,1,No,1/30/2020
4,Alameda,2c,Oakland West Central,88757,361.0,48.1,397.0,223.6,0,22684,0.256,5,5,Yes,1/30/2020

In [664]:
pcsa_mean = pcsa.groupby(["MSSA_COUNTY"]).agg("mean")

In [665]:
pcsa_new = pcsa_mean[
    ["Total_Population", "EST_Physicians", "Provider_Ratio", "Score_Poverty"]
]

In [666]:
pcsa_new.head()

             Total_Population  EST_Physicians  Provider_Ratio  Score_Poverty
MSSA_COUNTY
Alameda           100147.3125      132.406250     1580.593750       1.687500
Alpine              1188.0000        0.000000             NaN       3.000000
Amador             11187.0000        9.333333     4481.633333       1.666667
Butte              27441.1250       11.875000     5118.850000       2.500000
Calaveras          44516.0000       17.000000     2099.800000       2.000000

In [1021]:
pcsa_new.sort_values("EST_Physicians", ascending=False).head()

               Total_Population  EST_Physicians  Provider_Ratio  Score_Poverty
MSSA_COUNTY
San Francisco     106318.375000      267.187500      996.262500       1.750000
Santa Clara       117589.750000      170.781250     1528.200000       1.312500
Alameda           100147.312500      132.406250     1580.593750       1.687500
Orange            115500.629630      125.259259     1067.229630       1.962963
Contra Costa      101284.363636      104.409091     1457.472727       1.363636

In [1031]:
pcsa_new.sort_values("EST_Physicians", ascending=True).head()
# These don't tell us much since we would need to compare it against population
# But this data is most likely flawed, because how can you have zero physicians in these counties?

             Total_Population  EST_Physicians  Provider_Ratio  Score_Poverty
MSSA_COUNTY
Alpine            1188.000000            0.00             NaN           3.00
Sierra            2858.000000            0.00      952.700000           2.00
Colusa            5321.000000            1.00    11317.033333           2.25
Modoc             2909.333333            1.00      959.100000           3.00
Trinity           3202.750000            1.25     1251.533333           3.75

In [1022]:
pcsa_new.sort_values("Provider_Ratio", ascending=False).head()
#Interesting, because Stanislaus is one of the most polluted counties in California.
#Good safety index to have a high provider ratio, I guess.

             Total_Population  EST_Physicians  Provider_Ratio  Score_Poverty
MSSA_COUNTY
Stanislaus       58896.888889       42.222222    18134.225000       2.888889
Colusa            5321.000000        1.000000    11317.033333       2.250000
San Joaquin      71048.100000       45.660000    10643.680000       2.500000
Riverside       100869.304348       60.086957     9862.378261       2.869565
Lassen            5387.500000        4.750000     6018.750000       2.500000

In [1029]:
pcsa_new.sort_values("Provider_Ratio", ascending=True).head()
#Interesting that Marin county has a low provider ratio. I wonder why that is.

             Total_Population  EST_Physicians  Provider_Ratio  Score_Poverty
MSSA_COUNTY
Marin            63657.000000       88.250000         738.525           1.25
Inyo              5912.333333        5.666667         816.550           2.00
Nevada           48918.500000       42.500000         834.750           1.50
Sierra            2858.000000        0.000000         952.700           2.00
Modoc             2909.333333        1.000000         959.100           3.00

In [1026]:
pcsa_new.sort_values("Score_Poverty", ascending=False).head()
# This is incredible data
# The most polluted counties in California also have the highest poverty scores!

             Total_Population  EST_Physicians  Provider_Ratio  Score_Poverty
MSSA_COUNTY
Imperial         34000.200000        9.500000     1687.260000       4.400000
Kings            44733.666667       22.000000     1014.100000       4.333333
Merced           43503.833333       27.166667     1615.133333       4.333333
Tulare           50338.000000       16.822222     3098.555556       4.222222
Fresno           68250.642857       27.750000     2948.771429       4.142857

In [1033]:
pcsa_new.sort_values("Score_Poverty", ascending=True).head()
# These counties (most of which are in the Bay Area or nearby) are some of the least affected counties.

             Total_Population  EST_Physicians  Provider_Ratio  Score_Poverty
MSSA_COUNTY
San Benito           58318.00       17.000000     2390.100000       1.000000
San Mateo            75726.40       75.400000     2341.066667       1.100000
Napa                 22902.50       21.583333     2043.680000       1.166667
Marin                63657.00       88.250000      738.525000       1.250000
Santa Clara         117589.75      170.781250     1528.200000       1.312500

In [667]:
#Merge works here, so now I know that I am not stupid
#Thank goodness, because I am spending thousands of dollars on college
pcsa_aph1 = pd.merge(pcsa, aph1, left_on=["MSSA_COUNTY"], right_on=["County"])
pcsa_aph1.head()

,MSSA_COUNTY,MSSA_ID,MSSA_NAME,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total,PCSA,Effective Date,Year,County,PDIDescription,Count_ICD9,Population_ICD9,RiskAdjRate_ICD9
0,Butte,7.1,Chapmantown/Chico,96487,55.5,63.6,103.2,935.0,0,23007,0.238,4,4,No,1/30/2020,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2
1,Butte,7.2,Capay/Lake/Nord,5798,3.0,1.0,3.8,1525.8,2,379,0.065,1,3,No,1/30/2020,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2
2,Butte,7.3,Butte Meadows/Cohasset/Forest Ranch,4820,0.0,0.0,0.0,NaN,5,387,0.080,1,6,Yes,1/30/2020,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2
3,Butte,7.4,Durham,5644,0.0,0.0,0.0,NaN,5,564,0.100,1,6,Yes,1/30/2020,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2
4,Butte,8,Magalia/Paradise/Stirling City,41358,19.0,25.2,37.9,1091.2,1,6085,0.147,2,3,No,1/30/2020,2015,Butte,Asthma (Age 2-17),35,"31,025",113.2

### PART VI: Conclusions

1. No one should live in Fresno County. And Kings County. Heavily polluted.
2. The most polluted counties in California also have high poverty scores!
3. Marin County has good water quality, but they don't have a good provider ratio (not many physicians)

Also that:

Check your datasets and whether you can play around with them before you analyze.
Don't spend too much time doing something that may not be super useful.

And sorry for making this notebook so awfully long! I genuinely found the data super interesting. Sad I wasn't able to analyse some of the datasets due to dtypes issues, but if I am able to fix that, I would definitely love to write a better pitch on how pollution levels can be connected to diseases + poverty scores.

### PART VII: The Pitch

This will be a short one-two line pitch (as I have already explained and analyzed my data throughout this notebook). This will of course, need more data and more analysis.

**Data suggests that high poverty scores in Californian counties are linked to higher pollution indexes (which include both the amount of pollution and susceptibility to being affected by it).**

Potential things I can do with the story:
 - Interview officials and experts who can corroborate (or who disagree with) my data
 - Delve deep into census tract data and see which neighbourhoods struggle with most pollution and whether it relates to their poverty scores
 - Look more into how pollution is related to diseases in these counties
 - Conduct interviews with people from these counties who may or may not be suffering from certain diseases. Look for socioeconomic status + high rates of pollution of the neighbourhoods.