1. Load Pandas:

In [1]:
import pandas as pd

2. Read a dataset:

In [2]:
df_csv = pd.read_csv('C:/Users/William Xu/Documents/GitHub/Jour-561_0203/data_w6/covid_world_weekly_trend.csv')

In [3]:
df_csv.head()

,"Country, Other",Cases in the last 7 days,Cases in the preceding 7 days,Weekly Case % Change,Cases in the last 7 days/1M pop,Deaths in the last 7 days,Deaths in the preceding 7 days,Weekly Death % Change,Deaths in the last 7 days/1M pop,Population
0,Afghanistan,1365,4003,-66.0,34.0,48,59,-19,1.0,40363736
1,Albania,2066,3429,-40.0,719.0,31,27,15,11.0,2872647
2,Algeria,2036,3687,-45.0,45.0,61,90,-32,1.0,45147880
3,Andorra,312,469,-33.0,4027.0,1,2,-50,13.0,77468
4,Angola,126,123,2.0,4.0,1,2,-50,0.0,34539147

3. Explore the dataset using len()/sort_values()/value_counts()/describe()

In [4]:
len(df_csv)

215

In [5]:
df_csv.sort_values('Cases in the last 7 days', ascending=False).head()

,"Country, Other",Cases in the last 7 days,Cases in the preceding 7 days,Weekly Case % Change,Cases in the last 7 days/1M pop,Deaths in the last 7 days,Deaths in the preceding 7 days,Weekly Death % Change,Deaths in the last 7 days/1M pop,Population
159,Russia,1208791,1331942,-9.0,8277.0,5304,4908,8,36.0,146037024
75,Germany,1199728,1315787,-9.0,14245.0,1330,1215,9,16.0,84223015
26,Brazil,709460,935994,-24.0,3299.0,5782,6193,-7,27.0,215035499
162,S. Korea,652938,360283,81.0,12718.0,348,216,61,7.0,51341502
200,Turkey,604558,649938,-7.0,7044.0,1911,1838,4,22.0,85826038

In [6]:
df_csv.sort_values('Deaths in the last 7 days', ascending=False).head(10)

,"Country, Other",Cases in the last 7 days,Cases in the preceding 7 days,Weekly Case % Change,Cases in the last 7 days/1M pop,Deaths in the last 7 days,Deaths in the preceding 7 days,Weekly Death % Change,Deaths in the last 7 days/1M pop,Population
204,USA,574030,1104395,-48.0,1718.0,11639,15011,-22,35.0,334183570
26,Brazil,709460,935994,-24.0,3299.0,5782,6193,-7,27.0,215035499
159,Russia,1208791,1331942,-9.0,8277.0,5304,4908,8,36.0,146037024
91,India,158986,353332,-55.0,113.0,2983,5310,-44,2.0,1402235728
127,Mexico,120719,141181,-14.0,920.0,2869,3273,-12,22.0,131152303
200,Turkey,604558,649938,-7.0,7044.0,1911,1838,4,22.0,85826038
98,Italy,359837,470719,-24.0,5966.0,1894,2177,-13,31.0,60316106
182,Spain,185094,277435,-33.0,3956.0,1866,2026,-8,40.0,46784460
69,France,568722,930930,-39.0,8681.0,1721,2195,-22,26.0,65510236
155,Poland,147684,227578,-35.0,3909.0,1696,1529,11,45.0,37778671

In [7]:
df_csv.value_counts('Deaths in the last 7 days/1M pop')

Deaths in the last 7 days/1M pop
0.0      38
1.0      11
4.0       8
6.0       7
0.1       7
         ..
11.0      1
13.0      1
24.0      1
20.0      1
121.0     1
Length: 67, dtype: int64

In [8]:
df_csv.value_counts('Deaths in the last 7 days/1M pop')

Deaths in the last 7 days/1M pop
0.0      38
1.0      11
4.0       8
6.0       7
0.1       7
         ..
11.0      1
13.0      1
24.0      1
20.0      1
121.0     1
Length: 67, dtype: int64

In [9]:
df_slim = df_csv.drop(['Population'], axis = 1)
df_slim

,"Country, Other",Cases in the last 7 days,Cases in the preceding 7 days,Weekly Case % Change,Cases in the last 7 days/1M pop,Deaths in the last 7 days,Deaths in the preceding 7 days,Weekly Death % Change,Deaths in the last 7 days/1M pop
0,Afghanistan,1365,4003,-66.0,34.0,48,59,-19,1.0
1,Albania,2066,3429,-40.0,719.0,31,27,15,11.0
2,Algeria,2036,3687,-45.0,45.0,61,90,-32,1.0
3,Andorra,312,469,-33.0,4027.0,1,2,-50,13.0
4,Angola,126,123,2.0,4.0,1,2,-50,0.0
...,...,...,...,...,...,...,...,...,...
210,Venezuela,4795,9000,-47.0,169.0,60,61,-2,2.0
211,Vietnam,281944,182357,55.0,2854.0,568,613,-7,6.0
212,Yemen,62,125,-50.0,2.0,16,19,-16,0.5
213,Zambia,1685,2262,-26.0,88.0,7,5,40,0.4
214,Zimbabwe,1968,1000,97.0,129.0,12,8,50,0.8

In [10]:
df_slim.describe().round()

,Cases in the last 7 days,Cases in the preceding 7 days,Weekly Case % Change,Cases in the last 7 days/1M pop,Deaths in the last 7 days,Deaths in the preceding 7 days,Weekly Death % Change,Deaths in the last 7 days/1M pop
count,215.0,215.0,215.0,215.0,215.0,215.0,215.0,215.0
mean,57526.0,71599.0,543.0,4676.0,307.0,340.0,18.0,16.0
std,161268.0,195128.0,7275.0,8484.0,1044.0,1265.0,134.0,22.0
min,0.0,0.0,-100.0,0.0,0.0,0.0,-100.0,0.0
25%,157.0,225.0,-45.0,50.0,2.0,2.0,-36.0,0.0
50%,2264.0,3687.0,-33.0,1288.0,13.0,16.0,-5.0,7.0
75%,26642.0,40003.0,-9.0,4742.0,147.0,155.0,11.0,26.0
max,1208791.0,1331942.0,106100.0,60589.0,11639.0,15011.0,888.0,121.0

In [11]:
df_csv['Cases in the last 7 days'].max()

1208791

4.Subset the dataframe

In [12]:
populous_df1 = df_csv[df_csv['Population'] > 100000000]
populous_df1

,"Country, Other",Cases in the last 7 days,Cases in the preceding 7 days,Weekly Case % Change,Cases in the last 7 days/1M pop,Deaths in the last 7 days,Deaths in the preceding 7 days,Weekly Death % Change,Deaths in the last 7 days/1M pop,Population
15,Bangladesh,20886,43455,-52.0,125.0,136,211,-36,0.8,167377842
26,Brazil,709460,935994,-24.0,3299.0,5782,6193,-7,27.0,215035499
42,China,837,595,41.0,0.6,0,0,0,0.0,1448432924
59,Egypt,14379,15158,-5.0,136.0,397,416,-5,4.0,105495301
65,Ethiopia,804,898,-10.0,7.0,14,53,-74,0.1,119625184
91,India,158986,353332,-55.0,113.0,2983,5310,-44,2.0,1402235728
92,Indonesia,387644,301678,28.0,1393.0,1220,685,78,4.0,278262700
101,Japan,572555,611609,-6.0,4550.0,1462,1035,41,12.0,125841851
127,Mexico,120719,141181,-14.0,920.0,2869,3273,-12,22.0,131152303
143,Nigeria,202,311,-35.0,0.9,1,2,-50,0.0,214503281
147,Pakistan,15319,23250,-34.0,67.0,239,285,-16,1.0,227916250
154,Philippines,13596,23871,-43.0,121.0,617,608,1,6.0,111970468
159,Russia,1208791,1331942,-9.0,8277.0,5304,4908,8,36.0,146037024
204,USA,574030,1104395,-48.0,1718.0,11639,15011,-22,35.0,334183570

In [13]:
df_slim1 = populous_df1 [["Country, Other", "Cases in the last 7 days", "Deaths in the last 7 days", "Population"]]

In [14]:
df_slim1.head(10)

,"Country, Other",Cases in the last 7 days,Deaths in the last 7 days,Population
15,Bangladesh,20886,136,167377842
26,Brazil,709460,5782,215035499
42,China,837,0,1448432924
59,Egypt,14379,397,105495301
65,Ethiopia,804,14,119625184
91,India,158986,2983,1402235728
92,Indonesia,387644,1220,278262700
101,Japan,572555,1462,125841851
127,Mexico,120719,2869,131152303
143,Nigeria,202,1,214503281

In [15]:
populous_df2 = df_csv[df_csv['Population'] < 1000000]
populous_df2.head()

,"Country, Other",Cases in the last 7 days,Cases in the preceding 7 days,Weekly Case % Change,Cases in the last 7 days/1M pop,Deaths in the last 7 days,Deaths in the preceding 7 days,Weekly Death % Change,Deaths in the last 7 days/1M pop,Population
3,Andorra,312,469,-33.0,4027.0,1,2,-50,13.0,77468
5,Anguilla,9,61,-85.0,591.0,0,0,0,0.0,15222
6,Antigua and Barbuda,77,478,-84.0,776.0,1,3,-67,10.0,99258
9,Aruba,105,185,-43.0,977.0,13,3,333,121.0,107509
13,Bahamas,118,148,-20.0,295.0,4,13,-69,10.0,399401

In [16]:
df_slim2 = populous_df2 [["Country, Other", "Cases in the last 7 days", "Deaths in the last 7 days", "Population"]]

In [17]:
df_slim2.head(10)

,"Country, Other",Cases in the last 7 days,Deaths in the last 7 days,Population
3,Andorra,312,1,77468
5,Anguilla,9,0,15222
6,Antigua and Barbuda,77,1,99258
9,Aruba,105,13,107509
13,Bahamas,118,4,399401
16,Barbados,1989,12,287952
19,Belize,738,13,409450
21,Bermuda,177,2,61901
22,Bhutan,2446,1,785529
27,British Virgin Islands,53,1,30561

5.Import another dataset with a common column

In [18]:
merge_df = pd.merge(df_slim1, df_slim2, on = 'Deaths in the last 7 days')

In [19]:
merge_df

,"Country, Other_x",Cases in the last 7 days_x,Deaths in the last 7 days,Population_x,"Country, Other_y",Cases in the last 7 days_y,Population_y
0,China,837,0,1448432924,Anguilla,9,15222
1,China,837,0,1448432924,Cabo Verde,19,565881
2,China,837,0,1448432924,Caribbean Netherlands,104,26622
3,China,837,0,1448432924,Comoros,16,899932
4,China,837,0,1448432924,Cook Islands,3,17590
5,China,837,0,1448432924,Faeroe Islands,2979,49167
6,China,837,0,1448432924,French Polynesia,5913,283569
7,China,837,0,1448432924,Gibraltar,409,33675
8,China,837,0,1448432924,Mayotte,59,283591
9,China,837,0,1448432924,Montserrat,0,4997
10,China,837,0,1448432924,Saint Martin,53,39746
11,China,837,0,1448432924,Saint Pierre Miquelon,30,5748
12,China,837,0,1448432924,St. Barth,48,9926
13,China,837,0,1448432924,Tonga,93,107658
14,China,837,0,1448432924,Vanuatu,8,318895
15,Nigeria,202,1,214503281,Andorra,312,77468
16,Nigeria,202,1,214503281,Antigua and Barbuda,77,99258
17,Nigeria,202,1,214503281,Bhutan,2446,785529
18,Nigeria,202,1,214503281,British Virgin Islands,53,30561
19,Nigeria,202,1,214503281,Cayman Islands,1041,66986
20,Nigeria,202,1,214503281,Channel Islands,1905,176489
21,Nigeria,202,1,214503281,Grenada,266,113377
22,Nigeria,202,1,214503281,Liechtenstein,607,38307
23,Nigeria,202,1,214503281,Sao Tome and Principe,10,225824
24,Nigeria,202,1,214503281,Sint Maarten,37,43674
25,Nigeria,202,1,214503281,Turks and Caicos,18,39575